***************
*** 6,16 ****
  	select HAVE_DMA_API_DEBUG
  	select HAVE_IDE if PCI || ISA || PCMCIA
  	select HAVE_DMA_ATTRS
- 	select HAVE_DMA_CONTIGUOUS if (CPU_V6 || CPU_V6K || CPU_V7)
  	select HAVE_MEMBLOCK
  	select RTC_LIB
  	select SYS_SUPPORTS_APM_EMULATION
  	select GENERIC_ATOMIC64 if (CPU_V6 || !CPU_32v6K || !AEABI)
  	select HAVE_OPROFILE if (HAVE_PERF_EVENTS)
  	select HAVE_ARCH_JUMP_LABEL if !XIP_KERNEL
  	select HAVE_ARCH_KGDB
--- 6,17 ----
  	select HAVE_DMA_API_DEBUG
  	select HAVE_IDE if PCI || ISA || PCMCIA
  	select HAVE_DMA_ATTRS
+ 	select HAVE_DMA_CONTIGUOUS if MMU
  	select HAVE_MEMBLOCK
  	select RTC_LIB
  	select SYS_SUPPORTS_APM_EMULATION
  	select GENERIC_ATOMIC64 if (CPU_V6 || !CPU_32v6K || !AEABI)
+ 	select ARCH_HAS_ATOMIC64_DEC_IF_POSITIVE
  	select HAVE_OPROFILE if (HAVE_PERF_EVENTS)
  	select HAVE_ARCH_JUMP_LABEL if !XIP_KERNEL
  	select HAVE_ARCH_KGDB
