***************
*** 283,288 ****
  	select S3C_DEV_HSMMC1
  	select S3C_DEV_HSMMC2
  	select S3C_DEV_HSMMC3
  	select SAMSUNG_DEV_BACKLIGHT
  	select EXYNOS_DEV_DRM
  	select EXYNOS_DEV_SYSMMU
--- 283,289 ----
  	select S3C_DEV_HSMMC1
  	select S3C_DEV_HSMMC2
  	select S3C_DEV_HSMMC3
+ 	select S3C_DEV_USB_HSOTG
  	select SAMSUNG_DEV_BACKLIGHT
  	select EXYNOS_DEV_DRM
  	select EXYNOS_DEV_SYSMMU
***************
*** 402,407 ****
  	select S3C_DEV_WDT
  	select S3C_DEV_HSMMC
  	select S3C_DEV_HSMMC2
  	select S5P_DEV_FIMC0
  	select S5P_DEV_FIMC1
  	select S5P_DEV_FIMC2
--- 403,409 ----
  	select S3C_DEV_WDT
  	select S3C_DEV_HSMMC
  	select S3C_DEV_HSMMC2
+ 	select S3C_DEV_USB_HSOTG
  	select S5P_DEV_FIMC0
  	select S5P_DEV_FIMC1
  	select S5P_DEV_FIMC2
***************
*** 436,457 ****
  	select S3C_DEV_I2C3
  	select S3C_DEV_I2C7
  	select S3C_DEV_RTC
  	select S3C_DEV_WDT
  	select S5P_DEV_FIMC0
  	select S5P_DEV_FIMC1
  	select S5P_DEV_FIMC2
  	select S5P_DEV_FIMC3
  	select S5P_DEV_MFC
  	select SAMSUNG_DEV_BACKLIGHT
  	select SAMSUNG_DEV_KEYPAD
  	select SAMSUNG_DEV_PWM
  	select EXYNOS_DEV_SYSMMU
  	select EXYNOS_DEV_DMA
  	select EXYNOS4_SETUP_I2C1
  	select EXYNOS4_SETUP_I2C3
  	select EXYNOS4_SETUP_I2C7
  	select EXYNOS4_SETUP_KEYPAD
  	select EXYNOS4_SETUP_SDHCI
  	help
  	  Machine support for Samsung SMDK4212
  
--- 438,464 ----
  	select S3C_DEV_I2C3
  	select S3C_DEV_I2C7
  	select S3C_DEV_RTC
+ 	select S3C_DEV_USB_HSOTG
  	select S3C_DEV_WDT
  	select S5P_DEV_FIMC0
  	select S5P_DEV_FIMC1
  	select S5P_DEV_FIMC2
  	select S5P_DEV_FIMC3
+ 	select S5P_DEV_FIMD0
  	select S5P_DEV_MFC
  	select SAMSUNG_DEV_BACKLIGHT
  	select SAMSUNG_DEV_KEYPAD
  	select SAMSUNG_DEV_PWM
  	select EXYNOS_DEV_SYSMMU
  	select EXYNOS_DEV_DMA
+ 	select EXYNOS_DEV_DRM
+ 	select EXYNOS4_SETUP_FIMD0
  	select EXYNOS4_SETUP_I2C1
  	select EXYNOS4_SETUP_I2C3
  	select EXYNOS4_SETUP_I2C7
  	select EXYNOS4_SETUP_KEYPAD
  	select EXYNOS4_SETUP_SDHCI
+ 	select EXYNOS4_SETUP_USB_PHY
  	help
  	  Machine support for Samsung SMDK4212
  
